body{
  background-color: #222222;
  margin: 0px;
}

/*title/logo*/

.logo, .title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;  
}
.title{
  width: 150px;
  height: auto;
}

.logo{
  width: 100px;
}

.header{
  margin: 0 auto;
  padding: 20px 0px 0px;
  text-align: center;
  width: 960px;
}

/*navigation*/

.navigation{
  list-style-type: none;
  display: block;
  height: auto; 
}

.navigation li{
  display: inline;
  list-style: none;
  margin: 0;
}
.navigation li a{
  font-family: "Lucida Console", Monaco, monospace;
  display: inline;
  color: white;
  text-align: center;
  font-size: 22px;
  padding: 10px 20px;
  text-decoration: none;
}

/*changes color of backgroud and text when hovering over menur */
.navigation li a:hover {
  background-color: #00eebc;
  color: #222222;
}

/*modifies the Greeting div*/
.greeting {
  color: #00eebc;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0; 
}


.adventure{
  width: 100%;
  border: none;
  display: block;
}

div {
  display: block;
  color: green;

}

#body .feature div{
    left: 30%;
    margin-left: -480px;
    padding: 0 0 0 470px;
    position: absolute;
    top: 40%;
    text-align: center;
    width: 490px;
}

#body .feature div p{
  display: inline-block;
  font-size: 25px;
  font-family: arial;
}

/*text format in the about page*/
.info {
  text-align: center;
  color: #00EEBC;
  font-style: bold;
  font-size: 25px;
  margin: 60px;
}

/*appearance options for table in the bottom of "about" page*/
.price {
  color: #f4ee30;
  font-style: bold;
  font-size: 20px;
  font-family: "Lucida Console", Monaco, monospace;
}

/*Form Styling*/

.contactUs {
  width: 50%;
  font-size: 16px;
  background: white;
  padding: 30px 30px 15px 30px;
  border: 5px solid gray;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.contactUs label{
  width: 40%;
  text-align: right;
  float: left;
  clear: left;
  margin-right: 10px;
  margin-top: 5px;
}

.contactUs input, .contactUs select, .contactUs textarea{
  width: 50%;
  margin-top: 5px;
  margin-right: 5px;
}

.contactUs input[type=radio]{
  width: auto;
}
.contactUs input[type=checkbox]{
  width: auto;
  margin-left: 25px;
}
.errorMessage{
  color:red;
}

#submitButton, #elapseButton {
  width: 15%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.elapseCalc {
  width: 50%;
  font-size: 16px;
  background: white;
  padding: 30px 30px 15px 30px;
  border: 5px solid gray;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

#elapseButton {
  width: 20%;
}

.elapseCalc input{
  width: 50%;
  margin-top: 5px;
  margin-right: 5px;
}
.elapseCalc label{
  width: 30%;
  text-align: right;
  float: left;
  clear: left;
  margin-right: 10px;
  margin-top: 5px;
}
/*web security CSS*/
/*look of page*/
.webtitle {
  position: relative;
}

.sectitle {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -50px;
  text-align: center;
  color: white;
  font-size: 45px;
}

.secpic{
  width: 100%;
  height: 250px;
}
.securityinfo {
  color: #00EEBC;
  font-family: cursive;
}
.points li {
  list-style-type: square;
}

.points a {
  color: inherit;
}

.points a:hover{
  color: white;
}

.sources a {
  text-decoration: none;
  color: inherit;
}

.sources a:hover{
  color: white;
}

#examples{
  color: white;
  font-weight: bold;
  font-style: italic;
}

/*for bottom of page*/

.security label{
  display: inline-block;
  float: left;
  clear: left;
  text-align: right;
  width: 200px;
  color: #00EEBC
}
.security input {
  text-align: center;
  width: 400px;
}

/* map CSS*/
#map {
  float: left;
  margin-top: 20px;
  width: 100%;
  min-height: 300px;
  color: #00EEBC;
}

.locationInformation {
  float: left;
  width: auto;
  color: #00EEBC;
}
